doctype html
html
  head
    link(rel='stylesheet', href='/css/style.css')
    script(src='http://cdn.bootcss.com/jquery/2.1.4/jquery.min.js')
    script(src='http://127.0.0.1:8080/socket.io/socket.io.js')
    script(src='/js/index.js')
    title greengerong - socketio mock server
  body
    h1 socketio client demo
    div
        form#messageForm
          select#type
            option(value='recommandation', selected) recommandation
            option(value='comment') comment
          input(type="text", placeholder='input your message')#message
          input(type="button", value="emit")#send
    h2 Response:          
    div#response
